/*-- scss:defaults --*/

// Colors 
$dark-green: #045C33;
$dark-purple: #5C042E;
$white-ish: #EBFFFE;

// Base document colors 
$navbar-bg: $dark-purple; // navbar
$body-bg: $dark-green; // page background
$body-color: $white-ish; // page text
